name: 'Verilog'
scopeName: 'source.verilog'
type: 'tree-sitter'
parser: 'tree-sitter-verilog'

injectionRegex: 'verilog|Verilog'

fileTypes: [
  'v'
  'sv'
]

folds: [
  {
    type: ['comment']
  }
]

comments:
  start: '// '

scopes:
  'translation_unit': 'source.verilog'
  'comment': 'comment.block'

  'module_keyword': 'storage.type.module.verilog'
  '"endmodule"': 'storage.type.module.verilog'

  name_of_instance: 'entity.name.type'

  always_keyword: 'keyword.control'
  '"assign"': 'keyword.control'
  '"begin"': 'keyword.control'
  '"end"': 'keyword.control'
  '"if"': 'keyword.control'
  '"else"': 'keyword.control'

  edge_identifier: 'variable'
  '"or"': 'keyword'
  '","': 'keyword'

  '"input"': 'variable'
  '"output"': 'variable'


  net_type: 'support.storage.type'
  integer_vector_type: 'support.storage.type'

  '"parameter"': 'keyword.other.verilog'
  '"localparam"': 'keyword.other.verilog'

  number: 'numeric'
  constant_expression: 'constant'

  module_identifier: 'entity.name.function'
# 'entity.name.type.module.verilog'



  'preproc_arg': 'meta.preprocessor.macro'

  '"="': 'keyword'

  unary_operator: 'keyword'
  assignment_operator: 'keyword'

  '"+"': 'keyword'
  '"-"': 'keyword'
  '"*"': 'keyword'
  '"/"': 'keyword'
  '"%"': 'keyword'
  '"=="': 'keyword'
  '"!="': 'keyword'
  '"==="': 'keyword'
  '"!=="': 'keyword'
  '"==?"': 'keyword'
  '"!=?"': 'keyword'
  '"&&"': 'keyword'
  '"||"': 'keyword'
  '"**"': 'keyword'
  '"<"': 'keyword'
  '"<="': 'keyword'
  '">"': 'keyword'
  '">="': 'keyword'
  '"&"': 'keyword'
  '"|"': 'keyword'
  '"^"': 'keyword'
  '"^~"': 'keyword'
  '"~^"': 'keyword'
  '">>"': 'keyword'
  '"<<"': 'keyword'
  '">>>"': 'keyword'
  '"<<<"': 'keyword'
  '"->"': 'keyword'
  '"<->"': 'keyword'
